.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;

    background: var(--background);

    margin-top: 45px;
    padding-left: 80px;
    padding-right: 65px;

    height: 100vh;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: var(--background);
    border: 1px solid black;
    border-radius: 20px;
}

.card {
    background-color: var(--elements);

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 260px;
    font-size: 0.875rem;
}

.card__image {
    width: 260px;
    height: 160px;
    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card > h2 {
    padding-left: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card__text-container {
    padding-left: 20px;
    display: flex;
}

.card__text-container > p {
    margin-bottom: 10px;
}

.card__text-key {
    font-weight: 700;
}