.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 20;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 80px;

    background-color: var(--elements);
    box-shadow: 0 0 20px 1px var(--shadow);
}

.header__title {
    padding-left: 80px;
    font-size: 1.5rem;
}

.header__mode-switch {
    display: flex;
    align-items: center;

    padding-right: 80px;
}

.header__mode-switch:hover {
    cursor: pointer;
}

.mode-switch__text {
    padding-left: 10px;
}

@media (max-width: 800px) {
    .header__title {
        padding-left: 40px;
    }
    .header__mode-switch {
        padding-right: 40px;
    }
  }