.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 80px;

    background-color: var(--elements);
}

.header__title {
    padding-left: 80px;
    font-size: 1.5rem;
}

.header__mode-switch {
    display: flex;
    align-items: center;

    padding-right: 80px;
}

.mode-switch__text {
    padding-left: 10px;
}