.light {
    --elements: hsl(0, 0%, 100%);
    --text: hsl(200, 15%, 8%);
    --input: hsl(0, 0%, 52%);
    --background: hsl(0, 0%, 96%);
    --shadow: hsl(0, 0%, 88%);
}

#App {
    height: 100vh;
    width: 100vw;
    
    background-color: var(--background);
    color: var(--text);

    overflow: hidden;
}