.country-page-container {
    padding: 160px 80px 45px 80px;
    background-color: var(--background);

    height: inherit;
    width: inherit;

    overflow-y: overlay;
    overflow-y: hidden;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 135px;
    padding: 10px;

    color: var(--text);
    background-color: var(--elements);
    box-shadow: 0 0 20px 1px var(--shadow);
    border-radius: 5px;
}

.button-container > p {
    padding-left: 14px;
}

.content-country {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 100px;

    margin-top: 75px;
}

.country-image {
    width: 100%;
    max-width: 560px;

    box-shadow: 0 0 20px 1px var(--shadow);
}

.country-information {
    display: flex;
    flex-direction: column;
}

.information-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 50px;
}

.info-display {
    display: flex;
}

.info-display > label {
    font-weight: 700;
    padding-right: 10px;
}