.country-page-container {
    padding: 160px 80px 45px 80px;
    background-color: var(--background);

    height: inherit;
    width: inherit;

    overflow-y: overlay;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 135px;
    padding: 10px;
    margin-bottom: 75px;

    color: var(--text);
    background-color: var(--elements);
    box-shadow: 0 0 20px 1px var(--shadow);
    border-radius: 5px;
}

.button-container > p {
    padding-left: 14px;
}

.content-country {
    align-self: center;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 120px;

    max-width: 1440px;
}

.country-image {
    width: 100%;
    max-width: 560px;

    box-shadow: 0 0 20px 1px var(--shadow);
}

.country-information {
    display: flex;
    flex-direction: column;
}

.country-information > h1 {
    padding-bottom: 50px;
}

.information-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 50px;
}

.info-display {
    display: flex;
    padding-top: 2px;
    padding-bottom: 2px;
}

.label-style {
    font-weight: 700;
    padding-right: 10px;
}

.border-countries-container {
    padding-top: 65px;

    display: flex;
    align-items: center;
}

.border-country-button {
    padding: 6px;
    margin: 0 5px 0 5px;

    background-color: var(--elements);
    color: var(--text);

    box-shadow: 0 0 20px 1px var(--shadow);
}

@media (max-width: 1399px) {
    :root {
        font-size: 0.75rem;
    }
    .content-country {
      justify-content: center;
    }
    .country-page-container {
        padding: 160px 30px 35px 30px;
    }
    .border-countries-container {
        padding-bottom: 65px;
    }
  }